p {
    color:darkred;
    text-align:center;
    font-size: 2.2rem;
}

h1 {
    text-align: center;
}

body {
    background-color: whitesmoke;
}

a{
    text-align: center;
    font-size: 1.5rem;
    color: red;
}

