@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body{
    text-align: center;
    background-color: #b4b7da;
    border-radius: 10px;
    font-family: cursive;
}

.botao-agenda{
    font-size: 2rem;
    text-decoration: underline wavy #1168ff 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
