{% extends "base.html" %}
<link rel="stylesheet" href="{{url_for('static', filename= 'style.css') }}">
{% block content %}
    <p class="bem-vindo">Seja bem-vindo</p>
    <br>
    <h2>Bem vindo! Essa pagina é destinada a uma agenda teste. <br> divirta-se!</h2>
    <br>
    <br>
    <a class="butao" href="/agenda">Agenda</a>

    <!-- Notas na lateral esquerda -->
    <div class="Notas esquerda" style="top: 7%;">📝</div>
    <div class="Notas esquerda" style="top: 30%;">📝</div>
    <div class="Notas esquerda" style="top: 65%;">📝</div>
    <div class="Notas esquerda" style="top: 90%;">📝</div>

    <!-- Notas na lateral direita -->
    <div class="Notas direita" style="top: 7%;">📝</div>
    <div class="Notas direita" style="top: 30%;">📝</div>
    <div class="Notas direita" style="top: 65%;">📝</div>
    <div class="Notas direita" style="top: 90%;">📝</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}